<div id = "user-wrapper">
  <div class = "user-header">
    <h2><%= @user.name %></h2>
    <img src = <%= image_url(@user.avatar_url) %> alt="">
  </div>

  <div class = "user-books">

  </div>

</div>
