<div id = "book-wrapper">
  <div class = "result-container">
    <div class = "settings">
      <h2>Categories</h2>
      <div class= "categories">
        <% %w(fiction fantasy romance non-fiction mystery contemporary biography chick-lit memoir travel photography meditation crime comics magazines anime music cookbooks business psychology programming c++ coding computerscience art python).each do |category| %>
          <%= link_to "#{category}", "/books/?q=#{category}"%>
        <% end %>
      </div>
    </div>
    <div class = "result">
      <% @books.each do |book| %>
        <a href= <%="/books/#{book.isbn}" %>>
          <img class = "book-cover" src= <%= book.image_link %> alt="">
        </a>
      <% end %>
    </div>
  </div>
</div>
