<div id = "book-wrapper">
  <div class = "result-container">
    <div class = "settings">
      <h2>Search Options</h2>
    </div>
    <div class = "result">
      <% @books.each do |book| %>
        <img class = "book-cover" src= <%= book.image_link %> alt="">
      <% end %>
    </div>
  </div>
</div>
