<div id = "book-wrapper">
  <div class = "result-container">
    <div class = "settings">
      <h2>Categories</h2>

    </div>
    <div class = "result">
      <% @books.each do |book| %>
        <a href= <%="/books/#{book.isbn}" %>>
          <img class = "book-cover" src= <%= book.image_link %> alt="">
        </a>
      <% end %>
    </div>
  </div>
</div>
