@import '_variables';

#book-wrapper {
  .result-container {
    margin-top: 1em;
    margin-bottom: 5em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    .settings {
      padding: 1em;
      flex: 1;
      height: auto;
      text-align: center;
      h2 {
        font-family: 'Roboto';
        margin-bottom: 1em;
      }
      .categories {
        a {
          border-radius: 10px;
          text-decoration: none;
          color: white;
          padding: .3em;
          background: $greenish;
          display: inline-block;
          margin: .2em .2em 0 .2em;
          &:hover {
            background: lighten($greenish, 10%);
          }
        }
      }
      .pagination {
        margin-top: 2em;
        .active-page {
          color: white;
          background: $dark;
          &:hover {color: white; background: $dark;}
        }
        a {
          background-color: white;
          color: black;
          &:hover:not(.active-page) {
            background-color: white;
            text-decoration: underline;
          }
        }
      }
    }
    .result {
      height: auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex: 2;
      padding: 1em;
      overflow-y: scroll;
      height: 50rem;
      a {
        height: 10rem;
      }

      .book-cover {
        box-sizing: border-box;
        width: 8rem;
        height: 10rem;
        margin: .2em;
        border: 1px solid rgba(0, 0, 0, 0.3);
      }
    }
  }
  .book-details {
    margin: 2em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    .user-interaction {
      flex: 1;
      .book-image {
        overflow: hidden;
        display: block;
        width: 8rem;
        margin: 0 auto;
      }
    }
    .book-information {
      flex: 2;
      h1 {
        max-width: 50%;
        font-size: 150%;
      }
      .authors {
        margin-top: .4em;
      }
      .authors, .published {
        font-weight: bold;
      }
      .description {
        margin-top: 2em;
        max-width: 30rem;
        font-family: 'Roboto';
        line-height: 1.5em;
      }
    }
  }
  .reviews-container {
    padding: 1em;
    min-height: 30rem;
    .review {
      padding: 1.5em;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
      margin: 1em 0;
      margin-left: 2em;
      .content {
        max-width: 60%;
        margin-top: 1em;
        line-height: 1.2em;
      }
    }
  }
}
