// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import '_variables';

#home-wrapper {
  .create-account-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1em;
    height: 20rem;

    background-image: image_url("hero3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .moto {
      h2 {
        padding-top: 2em;
        color: white;
        font-family: 'Roboto';
        font-size: 230%;
        span {
          color: lighten($greenish, 10%);
        }
      }
    }

    .create-account-form {
      padding: 1em;
      h2 {
        font-family: 'Roboto';
        color: white;
      }
      input[type="text"] {
        display: block;
        padding: .5em;
        margin: .5em 0;
        width: 16rem;
        height: 1rem;
        &:focus {
          outline: none;
        }
      }
      input[type="submit"] {
        width: 5rem;
        font-size: 105%;
        height: 2rem;
        border: none;
        color: white;
        border-radius: 5px;
        background: $greenish;
        &:hover{
          cursor: pointer;
          background-color: lighten($greenish, 10%);
        }
      }
    }
  }
}
