// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import '_variables';

#home-wrapper {
  .create-account-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1em;
    height: 20rem;

    background-image: image_url("hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .moto {
      h2 {
        padding-top: 2em;
        color: white;
        font-family: 'Roboto';
        font-size: 230%;
        span {
          color: lighten($greenish, 10%);
        }
      }
    }

    .create-account-form {
      padding: 1em;
      h2 {
        font-family: 'Roboto';
        color: white;
      }
      input[type="text"] {
        display: block;
        padding: .5em;
        margin: .5em 0;
        width: 16rem;
        height: 1rem;
        &:focus {
          outline: none;
        }
      }
      input[type="submit"] {
        width: 5rem;
        font-size: 100%;
        height: 2rem;
        border: none;
        color: white;
        border-radius: 5px;
        background: $greenish;
        &:hover{
          cursor: pointer;
          background-color: lighten($greenish, 10%);
        }
      }
    }
  }

  .features-preview {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    .categories {
      text-align: center;
      color: white;
      flex: 1;
      padding: 1em;
      height: auto;
      background: $greenish;
      li {
        list-style-type: none;
        a {
          color: white;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      h3 {
        font-family: 'Roboto';
        margin-bottom: 1em;
      }
      .book-container {
        margin: .5em 0;
      }
      img {
        margin: .5em .5em;
        display: inline-block;
        width: 6rem;
        height: 8rem;
      }
    }
    .book-reviews {
      flex: 1.5;
      height: 30rem;
      .review-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        .user-review {
          flex: 2;
          padding: 2em;
          height: 4rem;
          a {
            text-decoration: none;
            color: $greenish;
            &:hover {
              text-decoration: underline;
            }
          }
          p {
            font-family: 'Helvetica';
            font-size: 90%;
            margin: .5em 0;
            text-align: left;
            line-height: 1.5em;
          }
          .avatar {
            border-radius: 100%;
            float: left;
            width: 55px;
            height: 55px;
            margin-right: .5em;

          }
          ul {
            margin: 0 auto;
            width: 6rem;
            li {
              list-style-type: none;
              float: left;
            }
          }
        }
        .book-image {
          flex: 0.8;
          padding-top: .5em;
          img {
            display: block;
            margin: 0 auto;
            width: 6rem;
            height: 8rem;
          }
        }
      }

    }
  }

}
