@import '_variables';

.sign-in {
  padding: 3em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  width: 20rem;
  margin: 2em auto;
  margin-top: 5em;
  h2 {
    color: black;
  }
  a {
    margin-left: .5em;
  }
}


#user-wrapper {
  .user-header {
    padding: 1em;
    h2 {
      color: $dark;
    }
    img {
      display: block;
      width: 12rem;
      height: 10rem;
      border-radius: 100%;
    }
  }
  .user-books {

  }
}
