@import '_variables';

.sign-in {
  padding: 3em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  max-width: 20rem;
  box-sizing: border-box;
  margin: 2em auto;
  margin-top: 2em;
  h2 {
    color: black;
  }
  a {
    margin-left: .5em;
  }
  #session_email, #session_password {
    width: 90%;
  }
}

.divider {
  height: .1px;
  background: rgba(0, 0, 0, 0.3);
  width: 30%;
}

.book-icon {
  background-repeat: no-repeat;
  width: 100%;
}

#user-wrapper {
  h2 {
    font-family: 'Helvetica';
    text-align: center;
  }
  .user-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1em;
    h2 {
      padding-top: 3em;
      color: $greenish;
      font-family: 'Roboto';
      text-align: left;
    }
    .user-details {
      flex: 2;
      p {
        margin: 1em;
        font-family: 'Helvetica';
        padding: 1em;
      }
    }
    img {
      margin-left: 6em;
      margin-top: 4em;
      display: block;
      width: 10.5rem;
      height: 10rem;
      border-radius: 100%;
    }
  }
  .recent-reviews {
    margin: 1em 0;
    margin-bottom: 5em;
    min-height: 10rem;
    input {
      display: block;
      width: 8rem;
      padding: .5em;
      border: none;
      background: $greenish;
      color: white;
      font-family: 'Helvetica';
      margin: 2em auto;
      &:hover {
        cursor: pointer;
        background-color: lighten($greenish, 10%);
      }
    }

    .review-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap:nowrap;
      max-width: 80%;
      margin: 1em auto;
      border: 1px solid rgba(0, 0, 0, 0.5);
      img {
        width: 8rem;
        height: 10rem;
        padding: 1.5em;
      }
      .review-info {
        flex: 2;
      }
    }
    p {
      width: 60%;
      margin: 0 auto;
      font-family: 'Helvetica';
      line-height: 1.2em;
    }
    .stars {
      width: 6rem;
      margin: auto;
      margin-top: 2em;
    }
  }
  .user-books {
    max-width: 70rem;
    margin: 2em auto;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    img {
      width: 8rem;
      height: 10rem;
      margin: 0 1em;
      transition: all .2s;
      &:hover {
        transform: scale(1.1);
      }
    }
    input {
      display: block;
      width: 8rem;
      padding: .5em;
      border: none;
      background: $greenish;
      color: white;
      font-family: 'Helvetica';
      margin: auto;
      margin-top: -.5em;
      margin-bottom: 1em;
      &:hover {
        cursor: pointer;
        background-color: lighten($greenish, 10%);
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .logo {
    display: none !important;
  }
  .semi-nav {
    padding-left: 0 !important;
    ul li {
      margin: 0 .3em 0 .3em !important;
    }
  }
  #welcome-user {
    display: none;
  }
}
